@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-24 09:01:30
 * @version $Id$
 */



#b1:before{
	display:block;
	content:"";
	position:absolute;
	z-index:-1;
	
	width: 0;
    height: 0;
    border:25px transparent solid; 
    border-left-color: orange;  
    left:260px;
    top:25px;
	background-color:white;
	
}

#b1:after{
	display:block;
	content:"";
	position:absolute;
	z-index:-1;
	
	width: 0;
    height: 0;
    border:25px transparent solid; 
     
    left:260px;
    top:0px;
	background-color:white;
	
}
.box{
    width:200px;
	height:100px;
	background:orange;
	margin:50px;
  }



.b2 {
  position: relative;
  width: 90%;
}


#b2:before, #b2:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 200px;
  left: 50px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow :0 10px 10px rgba(256, 120, 0, 0.5);
  transform: rotate(-5deg);
}