@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-05-18 15:33:58
 * @version $Id$
 */
#ui-head{
	width:100%;
	height:30px;
	line-height:30px;
	background-color:rgb(0,155,114);
	text-align:center;
	
}

.head,
.head1{
	
	color:white;
	float:right;
	width:56px;
	height:30px;
	line-height:30px;
	border-left:1px solid white;
	font-size:14px;
	background-color:rgb(0,155,114);
	padding-left:15px;
	padding-right:15px;
}
.head1{
	margin-right:70px;
	width:56px;
	height:30px;

}
.head_login,
.head_Global,
.head_logout{
	color:white;
	background-color:rgb(0,155,114);
	text-decoration:none;
}

.head_login:hover,
.head_Global:hover,
.head_logout:hover{
	
	background-color:rgb(0,100,114);
	
}
#ui-theme{
	width:100%;
	height:78px;

}
.logo img{
	margin-top:20px;
	vertical-align:middle;
	float:left;
	margin-left:70px;

}
.items{
	margin-right:70px;
	height:78px;
	line-height:78px;
	float:right;
	
}
.home_page,
.product_page,
.market_page,
.exp_center_page,
.server_page,
.ColorOS,
.community_page
{
	margin-right:20px;
	color:gray;
	font-size:18px;
	text-decoration:none;
}
.home_page:hover,
.product_page:hover,
.market_page:hover,
.exp_center_page:hover,
.server_page:hover,
.ColorOS:hover,
.community_page:hover{
	text-decoration:underline;
	text-decoration-color:red;

}
#ui-body{
	width:100%;
	height:400px;
	
	margin-bottom:10px;
}
.body_img{
	width:100%;
	height:100%;
}
#ui-more{
	width:100%;
	height:225px;
	
}
.more_part1,
.more_part2{
	width:33%;
	height:100%;
	margin-right:5px;
	float:left;
}
.more_part3{
	width:33%;
	height:100%;
	
	float:left;
}
.more_part_img{
	width:100%;
	height:100%;
}
#ui-server{
	margin-top:40px;

	padding-top:50px;
	width:100%;
	height:170px;
	background-color:rgb(246,246,246);
}
.server_title{
	/*margin-left:30%;*/
	
	
	width:100%;
	
}
.server_table{
	/*margin-right:30%;*/
	float:left;
	width:100%;
}
.server_box{

}
.server_online_service{
	width:180px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:2px solid rgb(54,54,54);
	border-radius:25px;
}
.online_service{

	height:40px;
	line-height:40px;
	color:rgb(54,54,54);
	font-size:20px;
	text-decoration:none;
}
/*
.server_item1,
.server_item2{
	display:flex;
	flex-direction:column;
}*/
.server_blank{
	width:20px;
}

.server_td{
	font-size:20px;
	
	text-align:right;
	float:right;
	margin-right:20px;
}

.server_type{
	margin-left:70px;
}
.server_type,
.server_buy,
.server_server,
.server_about{
	margin-right:40px;
	
	font-size:15px;
	font-weight:bolder;
	text-decoration:none;
	color:rgb(78,78,78);
}
.item1_R9s,
.item1_R9s_Plus,
.item1_A57,
.item1_A59s{
	margin-left:70px;
}
.item1_R9s,
.item1_R9s_Plus,
.item1_A57,
.item1_A59s,
.item2_market,
.item2_compass,
.item2_online_market,
.item3_website,
.item3_prize,
.item3_cloud,
.item4_join,
.item4_OPPO,
.item4_purchase,
.item4_review{
	margin-right:40px;
	margin-top:10px;
	font-size:12px;
	
	text-decoration:none;
	color:rgb(78,78,78);
}
#ui-copyright{

	width:100%;
	height:40px;
	background-color:rgb(246,246,246);
	
}
.copyright{
	width:50% - 70px;
	font-size:14px;
	margin-left:70px;
	height:20px;
	
	color:gray;
	float:left;
	background-color:rgb(246,246,246);
	text-align:left;
}
.weibo{
	width:50% - 70px;
	text-align:right;
	margin-right:70px;
	font-size:14px;
	height:20px;
	
	color:gray;
	
	
	background-color:rgb(246,246,246);
}

#ui-body-img{
	width:100%;
	height:490px;
}
.body_img{
	width:100%;
	height:100%;
}
.server_online_service .fa{
	color:rgb(54,54,54);
}
.cut_line2{
	width:100%;
	height:60px;
	
	
	background-color:rgb(246,246,246);
}
.cut_line1{
	
	width:100%;
	height:30px;
	
	border-top:1px solid gray;
	background-color:rgb(246,246,246);
}
.weibo .fa{
	margin-right:5px;
}