@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-03-31 10:24:39
 * @version $Id$
 */
#border1{
	
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	border-image-width:30px 30px 30px 30px;
}

#border2{
	
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	border-image-slice:30 30 30 30;
}

#border3{
	margin-top:30px;
	margin-left:30px;
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	border-image-outset:30px 30px 30px 30px;
}

#border4{
	margin-top:60px;
	margin-left:30px;
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	border-image-outset:30px 30px 30px 30px;
	border-image-repeat:stretch;
}
#border5{
	margin-top:30px;
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	
	border-image-repeat:stretch;
}

#border6{
	
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	
	border-image-repeat:repeat;
}


#border7{
	
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;
	
	border-image-repeat:round;
}

#border8{
	margin-top:10px;
	width:200px;
	height:100px;
	background-color:lightblue;
	border:20px solid transparent;
	border-image:url("border9.png") 30 30 round;

	border-image-slice:10 20 30 40;
}

#text1{
	border:1px solid;
	width:100px;
	height:100px;
	font-family:'Microsoft yahei';
	font-size:12px;
	word-wrap:break-word;
}
#text2{
	margin-top:5px;
	border:1px solid;
	width:100px;
	height:100px;
	font-family:'Microsoft yahei';
	font-size:12px;
	
}