@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-03 22:37:38
 * @version $Id$
 */

 #part1{
 	width:750px;
 	height:80px;
 	
 }

 #part2{
 	width:750px;
 	height:75px;

 }

 #part3{
 	width:750px;
 	
 }

.table1{
	width:190px;
	height:65px;
	border-right:1px dotted gray;
	
	font-size:10px;
	text-align:center;
}
.table1_1{
	width:200px;
	height:65px;
	
	
	font-size:10px;
	text-align:center;
}

.table2{
	width:100%;
	font-size:10px;
	text-align:left;
}

.table3{
	width:100%;
	font-size:20px;
	text-align:left;
}

.table3_3{
	font-size:16px;
	
}

.table3_4{
	font-size:16px;
	border-left:1px solid; 
}