@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-13 13:41:11
 * @version $Id$
 */
 body{
 	background-color:#99BD90;
 }
 #ui-background{
 	width:390px;
 	height:379px;
 	background-color:#FFE6F4;
 	
 	margin:50px;
 	
 }
 
 #ui-up{
 	background-color:#FFFFEB;
 	
 	width:390px;
 	height:262px;
	border:1px solid;
 }
 #ui-bottom{
 	width:390px;
 	height:117px;
 	background-color:#FFE6F4;
 	
 	display:flex;
	flex-direction:column;
	border-left:1px solid;
 	border-right:1px solid;
 	border-bottom:1px solid;
	

 }
.ui-bottom1{
	width:370px;
	height:22px;
	background-color:#FFFFFF;
	margin-top:10px;
	margin-left:10px;
	border:1px solid;
	font-family:"Microsoft YaHei";
	line-height:15px;
	color:rgb(51,51,51);
	font-weight:bold;
	font-size:10px;

}
.ui-bottom2{
	width:370px;
	height:22px;
	background-color:#FFFFFF;
	margin-top:10px;
	margin-left:10px;
	border:1px solid black;
	font-family:"Microsoft YaHei";
	font-size:10px;
	color:rgb(246,29,75);
	line-height:20px;
	font-weight:bold;
}
.ui-bottom3{
	width:370px;
	height:32px;
	background-color:#FFFFFF;
	margin-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	border:1px solid black;

	font-family: "Helvetica Neue";
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(246, 29, 75);
	font-weight:900;
	}
.ui-bottom3-s,
.ui-bottom3-sold{
    font-size: 8px;
    color: rgb(51, 51, 51);
    font-weight: 400;
    font-family: "Microsoft YaHei";
    line-height: 18px;
}
.ui-bottom3-sold{
	float: right;
    margin-top: 10px;
    margin-right: 10px;
}
.ui-bottom3-money{
	font-size: 8px;
    margin-left: 10px;
}

