@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-13 22:10:42
 * @version $Id$
 */
#bin{
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	width:100px;
	height:36px;
	background:#666;
	box-shadow:3px 3px 4px #ddd;
	transition:all ease 0.5s;
	cursor:pointer;
}
#bin:hover{
	background:#ff6700;
}


.ui-down{
	width:310px;
	height:70px;
	background-color:gray;
	display:flex;
	flex-direction:row;
}

.ui-up{
	width:50px;
	height:50px;
	margin:10px;
	background-color:pink;
	overflow:hidden; 
}

.ui-down1,
.ui-down2,
.ui-down3,
.ui-down4,
.ui-down5{
	width:50px;
	height:50px;
	margin:10px;
	background-color:pink;
}

.ui-up1-big{
	width:500px;
	height:300px;
	background-color:gray;
	opacity:0.5;
	display:none;
	position:absolute;
}
.ui-up1-big-center{
	width:200px;
	height:200px;
	background-color:pink;
	display:none;
	margin:center;
	opacity:1;
	position:absolute;
	margin-top:50px;
	margin-left:150px;
}
#ui-background{
	width:800px;
	height:600px;

}