@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-25 18:51:25
 * @version $Id$
 */

.background{
	margin:20px;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8 {
    width: 20%;
    height: 20%;
    background: #C0C0C0;
    color:white;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8 {
    list-style: none;
    float: left;
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.pic5 {
    clear: both;
}

.picture-back{
	position:absolute;
    width:100%;
    height:200%;
    background-color: rgba(0, 0, 1, 0.5);
    display:flex;
    justify-content: center;
}


img{
	width:100%;
	height:100%;

}

.picture img{
	margin-top:20px;
	border:10px solid white;
	width:auto;
	height:auto;
}
