@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-25 19:59:18
 * @version $Id$
 */
.body{
	border:1px solid black;
	width:500px;
	height:auto;
	display:flex;
	flex-direction: column;

}
.table{
	width:500px;
	height:auto;
	display:flex;
	flex-direction: column;
}

.item{
	width:300px;
	height:20px;
	border:1px solid black;
	position:relative;
	margin-top: 20px;
	margin-left:60px;
}
.example{  
	display:flex;
	width:20px;
	align-items: center;
	justify-content: center;
	height:20px;
	content:"1";
	position:absolute;
	border-left:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-left: -21px;
	margin-top:-1px;
}
.delete{
	display:flex;
	width:100px;
	content: "Delete";
	font-family:"Microsoft YaHei";
	align-items: center;
	justify-content: center;
	height:20px;
	border-right:1px solid black;
	border-top:1px solid black;
	border-bottom:1px solid black;
	position:absolute;
	margin-left:300px;
	margin-top: -1px;
	cursor: pointer;
}
.add{
	margin:40px;
	background:lightblue;
	color:black;
	border:1px solid black;
	width:100px;
	height:20px;
	display:flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	align-self: flex-end;


}