@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-04-28 08:22:09
 * @version $Id$
 */
 .background{
 	width:400px;
 	height:1000px;
 	margin:0px auto;
 	background-color:lightblue;
 }

 /*-------------search-------------------*/

.search{
	width:100%;
	height:5%;
	background-color:#00C2AF;

	display:flex;
	flex-direction:row;
}
.search_left{
	width:18%;
	height:100%;
	line-height:50px;
	margin-right:5px;
}
.form-control{
	text-align:center;
	font-weight:bolder;
	font-size:20px;
	font-family:"Microsoft Yahui";
	margin:8px;
}
.search_middle{
	width:68%;
}
.search_right{
	display:flex;
	flex-direction:column;
	margin-left:20px;
	margin-top:8px;
}
.search_right_square{
	width:15px;
	height:15px;
	line-height:15px;
	background-color:green;
	
}

/*---------------sort-----------------------*/

.sorts{
	width:100%;
	height:15%;
	background-color:white;
	
}
.sorts_circle1,
.sorts_circle2,
.sorts_circle3,
.sorts_circle4,
.sorts_circle5,
.sorts_circle6,
.sorts_circle7,
.sorts_circle8{
	margin-left:25px;
	margin-right:25px;
	width:50px;
	height:50px;
	margin-top:12.5px;
	margin-bottom:12.5px;
	background-color:lightgreen;
	float:left;
	border-radius:25px;
}
.examples{
	width:100%;
	height:25%;
	background-color:lightgray;
}
.sales{
	width:100%;
	height:50%;
	background-color:white;
}
.more_source{
	width:100%;
	height:5%;
	background-color:#8FC6EA;
}
